<!DOCTYPE html>
{% load spectre_tags %}

<html {% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block spectre_title %}django-spectre title{% endblock %}</title>

    {% spectre_css %}
</head>
<body>

{% block spectre_content %}
    <header class="navbar">
        <section class="navbar-section">
            <a href="..." class="navbar-brand mr-2">Spectre.css</a>
            <a href="..." class="btn btn-link">Docs</a>
            <a href="..." class="btn btn-link">GitHub</a>
        </section>

        <section class="navbar-section">
            <div class="input-group input-inline">
                <input class="form-input" type="text" placeholder="search">
                <button class="btn btn-primary input-group-btn">Search</button>
            </div>
        </section>
    </header>


    <div class="container">
        <div class="columns">
        <div class="column col-6">col-6</div>
        <div class="column col-3">col-3</div>
        <div class="column col-2">col-2</div>
        <div class="column col-1">col-1</div>
    </div>
</div>
{% endblock %}


{% block javascript %}{% endblock %}
</body>
</html>