{% load spectre_tags %}

<div class="form-group">
    {% if field|is_input %}
        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|addclass:"form-input" }}

    {% elif field|is_radio %}
        <label class="form-label">{{ field.label }}</label>
        <label class="form-radio">
            {{ field }}
        </label>
    {% elif field|is_select %}
        <div class="form-group">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endif %}
</div>